@import 'Variables.scss';

@mixin hover() {
    background-color: $HighLightLightColor;
    cursor: pointer;
}
@mixin active() {
    background: radial-gradient(circle, $HighLightLightColor 0%, $DefaultLightColor 100%);
}
@mixin disabled() {
    background-color: $Color3;
    cursor: not-allowed;
}

a {
    text-decoration: underline;
}

button, .linkbutton {
    margin: 4px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: $DefaultLightColor;
    &:hover {
        @include hover();
    }
    &:active  {
        @include active();
    }
    &:disabled {
        @include disabled();
    }
}
.linkbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-decoration: none;

    color: $TextColor;
    padding: 1px 8px 1px 8px;
}
button.iconbutton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
}

input {
    padding: 10px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    height: 40px;
    box-sizing: border-box;
    min-width: 40px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-style: italic;
    }
}
select {
    margin: 4px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: $DefaultLightColor;
    option {
        background-color: $DefaultLightColor;
    }
    &:hover {
        @include hover();
    }
    &:active  {
        @include active();
    }
}


img {
    border-radius: 10px;
}
img.icon {
    width: 22px;
    height: 22px;
    border-radius: 0;
    filter: invert(6%) sepia(97%) saturate(2121%) hue-rotate(209deg) brightness(91%) contrast(106%);
    &.medium {
        width: 30px;
        height: 30px;
    }
}
img.profilepicture:hover {
    filter: brightness(80%) contrast(80%) saturate(50%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: $TextColor;
    margin:0px;
    padding: 0px;
    background: linear-gradient(0deg, $Color2 0%, $Color1 100%);
    font-size: 16px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: auto;
    margin-top: 50px;
}
section {
    width: 100%;
    box-sizing: border-box;
}

.boxshadow {
    box-shadow: 0px 2px 4px 4px $ShadowColor;
}

.mainheader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: $DefaultLightColor;
    box-shadow: 0px 2px 4px 4px #00000020;
    &__container {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 24px;
        padding: 0px;
    }
    &__btn {
        width: 100%;
    }
}
.connection {
    width: 100%;
    max-width: 640px;
    border-radius: 10px;
    margin: 80px auto 80px auto;
    padding: 20px 40px 80px 40px;
    box-sizing: border-box;

    background-color: white;
    font-family: sans-serif;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        text-align: center;
        margin-bottom: 40px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }
    input {
        border: $DefaultDarkColor 1px solid;
    }
    button {
        margin: auto;
        color: $DefaultLightColor;
        background-color: $Color2;
        width: 200px;
        &:hover {
            background-color: $Color4;
        }
    }
}
@media (min-width: 900px) {
    header > div  {
        margin: 32px;
    }
    .HeaderNormalButton {
        width: 150px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C0C1DB;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    width: 100vw;
    height: 50px;
    gap: 10px;
    &__container {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        margin: 8px;
        &:first-child {
            justify-content: start;
        }
        &:last-child {
            width: 10%;
            justify-content: end;
        }
    }
}

.frontpagesection  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 40px;
    width: 100%;
    .article {
        flex:1;
    }
    .article:nth-child(2) {
        order: 1;
        text-align: center;
    }
    .article:nth-child(1) {
        order: 2;
    }
    .article:nth-child(3) {
        order: 3;
    }
}

.logolargeimg {
    border-radius: 10px;
    width: auto;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    height: 40px;
    overflow: hidden;
    width: 100%;
    &--boxshadow {
        box-shadow: 0px 2px 4px 4px $ShadowColor;
    }
    &--flatbottom {
        border-radius: 10px 10px 0 0;
    }
    input {
        height: 40px;
        flex: 1;
    }
    .iconbutton {
        border-radius: 0px;
        margin: 0px;
    }
}
.searchfilters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    &--flattop {
        border-radius: 0 0 10px 10px;
    }
    &__text {
        white-space: nowrap;
        font-family: sans-serif;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }
    &__selects {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 2px 4px 4px $ShadowColor;
        select {
            height: 40px;
        }
    }
    span {
        margin: 4px;
    }
}
.resource {
    width: auto;
    max-width: 1280px;
    
    font-size: 20px;
}
.article {
    display: inline-block;
    background: white;
    margin: 8px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    box-sizing: border-box;
    &__title {
        overflow-wrap: anywhere;
        text-align: center;
        font-size: 2em;
        margin: 8px;
    }
    &__infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 50px;
        .icon {
            margin: 8px;
        }
        span {
            display: flex;
            align-items: center;
            margin: 0 16px 0 16px;
        }
    }
    &__leftimg {
        margin: 8px;
        width: 100%;
        min-width: 120px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    
    &__input {
        border: $Color2 1px solid;
        height: 40px;
        width: 60px;
        margin: 4px;
        text-align: right;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: bold;

        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
    button {
        border: $Color2 1px solid;
    }
}
@media (min-width: 900px) {
    .frontpagesection {
        flex-direction: row;
        &--vertical {
            align-items: center;
            flex-direction: column;
        }
        .article:nth-child(2) {
            flex: 2;
            order: 2;
        }
        .article:nth-child(1) {
            order: 1;
        }
        .article:nth-child(2) {
            order: 3;
        }
    }
    .resource {
        margin: 50px;
    }
    .article {
        &__title {
            font-size: 3em;
        }
        &__leftimg {
            float: left;
            margin: 8px;
            width: 33%;
            min-width: 120px;
        }
    }
    .logolargeimg {
        width: 40%;
    }
    .searchbar {
        max-width: 768px;
    }
    .searchfilters {
        max-width: 768px;
        &__text {
            text-decoration: none;
            &:hover {
                cursor: default;
            }
        }
        &__selects {
            position: static;
            display: flex;
            flex-direction: row;
            box-shadow: none;
            height: 40px;
            transform: translateX(0);
            select {
                margin-top: 0;
                margin-bottom: 0;
                height: inherit;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    background-color: $Color3;
    height: 80px;

    &__container {
        width: 50%;
        margin: 16px;
        &:first-child {
            display: flex;
            flex-direction: column;
        }
        &:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            
        }
    }
   
    &__link {
        font-family: sans-serif;
        font-weight: normal;
        margin: 8px;
    }
}


@media (min-width: 900px) {
    .footer {
        height: 60px;
        &__container {
            margin: 32px;
            &:first-child {
                flex-direction: row;
            }
        }
    }
}

.resultsection {
    margin: auto;
    margin-bottom: 50px;
    width: 96%;
    padding: 16px;
    background: white;
    box-shadow: 0px 2px 4px 4px #00000020;
    border-radius: 10px;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.resultelement {
    display: flex;
    flex-direction: row;
    border-radius:  10px;
    margin: 16px;
    border: 1px solid black;
    overflow: hidden;
    height: 128px;

    &__leftdiv {
        width: 128px;
        height: 128px;
        flex-shrink: 0;
        justify-content: center;
    }
    &__centerdiv {
        flex: 1;
        align-items: start;
        justify-content: start;
        h2 {
            font-size: 1.2em;
            margin: 4px;
            width: 100%;
        }
        p {
            margin: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
        }
    }
    &__rightdiv {
        justify-content: space-between;
    }
    .Icon {
        border-radius: 0;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;
    }
}

@media (min-width: 900px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr;
    }
    .resultelement {
        &__centerdiv {
            h2 {
                font-size: 1.4em;
            }
        }
    }
}
@media (min-width: 2048px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 96%;
    }
}
@media (min-width: 3000px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.menu {
    position: absolute;
    top: 100%;
    right: 50px;

    display: flex;
    flex-direction: column;
    background-color: $DefaultLightColor;

    border-radius: 10px;
    &__title {
        font-family: sans-serif;
        padding: 15px 30px 15px 30px;
        border-bottom: $DefaultDarkColor 1px solid;
        text-align: center;
    }
}