a {
  text-decoration: underline;
}

button, .linkbutton {
  margin: 4px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: #FFFFFF;
}
button:hover, .linkbutton:hover {
  background-color: #D5D6F1;
  cursor: pointer;
}
button:active, .linkbutton:active {
  background: radial-gradient(circle, #D5D6F1 0%, #FFFFFF 100%);
}
button:disabled, .linkbutton:disabled {
  background-color: #C0C1DB;
  cursor: not-allowed;
}

.linkbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;
  color: #011033;
  padding: 1px 8px 1px 8px;
}

button.iconbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
}

input {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  height: 40px;
  box-sizing: border-box;
  min-width: 40px;
}
input:focus {
  outline: none;
}
input::-moz-placeholder {
  font-style: italic;
}
input::placeholder {
  font-style: italic;
}

select {
  margin: 4px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: #FFFFFF;
}
select option {
  background-color: #FFFFFF;
}
select:hover {
  background-color: #D5D6F1;
  cursor: pointer;
}
select:active {
  background: radial-gradient(circle, #D5D6F1 0%, #FFFFFF 100%);
}

img {
  border-radius: 10px;
}

img.icon {
  width: 22px;
  height: 22px;
  filter: invert(6%) sepia(97%) saturate(2121%) hue-rotate(209deg) brightness(91%) contrast(106%);
}

img.profilepicture:hover {
  filter: brightness(80%) contrast(80%) saturate(50%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: #011033;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, #7275B3 0%, #BEC1FF 100%);
  font-size: 16px;
}

main {
  width: 100vw;
  margin: auto;
  margin-top: 50px;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.boxshadow {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}

.mainheader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
.mainheader__container {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 24px;
  padding: 0px;
}
.mainheader__btn {
  width: 100%;
}

.connection {
  width: 100%;
  max-width: 640px;
  border-radius: 10px;
  margin: 80px auto 80px auto;
  padding: 20px 40px 80px 40px;
  box-sizing: border-box;
  background-color: white;
  font-family: sans-serif;
}
.connection__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.connection__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connection h1 {
  text-align: center;
  margin-bottom: 40px;
}
.connection form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.connection input {
  border: #000000 1px solid;
}
.connection button {
  margin: auto;
  color: #FFFFFF;
  background-color: #7275B3;
  width: 200px;
}
.connection button:hover {
  background-color: #505080;
}

@media (min-width: 900px) {
  header > div {
    margin: 32px;
  }
  .HeaderNormalButton {
    width: 150px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C0C1DB;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
  width: 100vw;
  height: 50px;
  gap: 10px;
}
.navbar__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}
.navbar__container:first-child {
  justify-content: start;
}
.navbar__container:last-child {
  width: 10%;
  justify-content: end;
}

.frontpagesection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 40px;
  width: 100%;
}

.logolargeimg {
  border-radius: 10px;
  width: auto;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  height: 40px;
  overflow: hidden;
  width: 100%;
}
.searchbar--boxshadow {
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
.searchbar--flatbottom {
  border-radius: 10px 10px 0 0;
}
.searchbar input {
  height: 40px;
  flex: 1;
}
.searchbar .iconbutton {
  border-radius: 0px;
  margin: 0px;
}

.searchfilters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.searchfilters--flattop {
  border-radius: 0 0 10px 10px;
}
.searchfilters__text {
  white-space: nowrap;
  font-family: sans-serif;
  text-decoration: underline;
}
.searchfilters__text:hover {
  cursor: pointer;
}
.searchfilters__selects {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
.searchfilters__selects select {
  height: 40px;
}
.searchfilters span {
  margin: 4px;
}

.article {
  flex: 1;
  background: white;
  margin: 8px;
  border-radius: 10px;
  padding: 32px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}

.article:nth-child(2) {
  order: 1;
  text-align: center;
}

.article:nth-child(1) {
  order: 2;
}

.article:nth-child(3) {
  order: 3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}
.pagination__input {
  border: #7275B3 1px solid;
  height: 40px;
  width: 60px;
  margin: 4px;
  text-align: right;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.pagination button {
  border: #7275B3 1px solid;
}

@media (min-width: 900px) {
  .frontpagesection {
    flex-direction: row;
  }
  .frontpagesection--vertical {
    align-items: center;
    flex-direction: column;
  }
  .logolargeimg {
    width: 40%;
  }
  .searchbar {
    max-width: 768px;
  }
  .searchfilters {
    max-width: 768px;
  }
  .searchfilters__text {
    text-decoration: none;
  }
  .searchfilters__text:hover {
    cursor: default;
  }
  .searchfilters__selects {
    position: static;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    height: 40px;
    transform: translateX(0);
  }
  .searchfilters__selects select {
    margin-top: 0;
    margin-bottom: 0;
    height: inherit;
  }
  .article:nth-child(2) {
    flex: 2;
    order: 2;
  }
  .article:nth-child(1) {
    order: 1;
  }
  .article:nth-child(2) {
    order: 3;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
  background-color: #C0C1DB;
  height: 80px;
}
.footer__container {
  width: 50%;
  margin: 16px;
}
.footer__container:first-child {
  display: flex;
  flex-direction: column;
}
.footer__container:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.footer__link {
  font-family: sans-serif;
  font-weight: normal;
  margin: 8px;
}

@media (min-width: 900px) {
  .footer {
    height: 60px;
  }
  .footer__container {
    margin: 32px;
  }
  .footer__container:first-child {
    flex-direction: row;
  }
}
.resultsection {
  margin: auto;
  margin-bottom: 50px;
  width: 96%;
  padding: 16px;
  background: white;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
  border-radius: 10px;
}
.resultsection__container {
  display: grid;
  grid-template-columns: 1fr;
}

.resultelement {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 16px;
  border: 1px solid black;
  overflow: hidden;
  height: 128px;
}
.resultelement__leftdiv {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  justify-content: center;
}
.resultelement__centerdiv {
  flex: 1;
  align-items: start;
  justify-content: start;
}
.resultelement__centerdiv h2 {
  font-size: 1.2em;
  margin: 4px;
  width: 100%;
}
.resultelement__centerdiv p {
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
.resultelement__rightdiv {
  justify-content: space-between;
}
.resultelement .Icon {
  border-radius: 0;
}
.resultelement div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .resultsection__container {
    grid-template-columns: 1fr 1fr;
  }
  .resultelement__centerdiv h2 {
    font-size: 1.4em;
  }
}
@media (min-width: 2048px) {
  .resultsection__container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
}
@media (min-width: 3000px) {
  .resultsection__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.menu {
  position: absolute;
  top: 100%;
  right: 50px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.menu__title {
  font-family: sans-serif;
  padding: 15px 30px 15px 30px;
  border-bottom: #000000 1px solid;
  text-align: center;
}/*# sourceMappingURL=Style.css.map */