a {
  text-decoration: underline;
}

button {
  margin: 4px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background: #FFFFFF;
}

button.iconbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
}

button:hover {
  background: radial-gradient(circle, #D5D6F1 0%, #FFFFFF 100%);
  cursor: pointer;
}

button:active {
  background: radial-gradient(circle, #D5D6F1 0%, #FFFFFF 100%);
}

img {
  border-radius: 10px;
}

img.icon {
  filter: invert(6%) sepia(97%) saturate(2121%) hue-rotate(209deg) brightness(91%) contrast(106%);
}

img.profilepicrture:hover {
  filter: brightness(80%) contrast(80%) saturate(50%);
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 40px;
  width: 100%;
}

body {
  color: #011033;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, #7275B3 0%, #BEC1FF 100%);
  background-repeat: no-repeat;
}

.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
.mainheader__container {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 24px;
  padding: 0px;
}
.mainheader__btn {
  width: 100%;
}

@media (min-width: 768px) {
  header > div {
    margin: 32px;
  }
  .HeaderNormalButton {
    width: 150px;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #C0C1DB;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
nav div {
  margin: 8px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}

.logolargeimg {
  border-radius: 10px;
  width: auto;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}

.searchbar {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  height: 40px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}
.searchbar__in {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  flex: 1;
}
.searchbar__in__:focus {
  outline: none;
}
.searchbar__in__::placeholder {
  font-style: italic;
}
.searchbar .iconbutton {
  border-radius: 0px;
  margin: 0px;
}

.article {
  flex: 1;
  background: white;
  margin: 8px;
  border-radius: 10px;
  padding: 32px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
}

.article:nth-child(2) {
  order: 1;
  text-align: center;
}

.article:nth-child(1) {
  order: 2;
}

.article:nth-child(3) {
  order: 3;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
  }
  .logolargeimg {
    width: 40%;
  }
  .searchbar {
    width: 40%;
  }
  .article:nth-child(2) {
    flex: 2;
    order: 2;
  }
  .article:nth-child(1) {
    order: 1;
  }
  .article:nth-child(2) {
    order: 3;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
  background-color: #C0C1DB;
  height: 80px;
}

footer div {
  width: 50%;
  margin: 16px;
}

footer > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

footer > :nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

footer a {
  font-family: sans-serif;
  font-weight: normal;
  margin: 8px;
}

@media (min-width: 768px) {
  footer {
    height: 60px;
  }
  footer > :nth-child(1) {
    flex-direction: row;
  }
  footer div {
    width: 50%;
    margin: 32px;
  }
}
#ResultSection {
  margin: auto;
  margin-bottom: 50px;
  width: 96%;
  padding: 16px;
  background: white;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1254901961);
  border-radius: 10px;
}

#ResultSection > div {
  display: grid;
  grid-template-columns: 1fr;
}

.ResultElement {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 16px;
  border: 1px solid black;
  overflow: hidden;
  height: 128px;
}

.ResultElement > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.ResultElement > div:nth-child(1) {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  align-self: center;
}

.ResultElement h2 {
  margin: 4px;
  width: 100%;
}

.ResultElement p {
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.ResultElement .Icon {
  border-radius: 0;
}

@media (min-width: 768px) {
  #ResultSection > div {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 2048px) {
  #ResultSection > div {
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
}
@media (min-width: 3000px) {
  #ResultSection > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=Style.css.map */
