@import 'Variables.scss';

@mixin hover() {
    background-color: $HighLightLightColor;
    cursor: pointer;
}
@mixin active() {
    background: radial-gradient(circle, $HighLightLightColor 0%, $DefaultLightColor 100%);
}

a {
    text-decoration: underline;
}

button {
    margin: 4px;
    height: 40px;
    font-size: $TextNormal;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: $DefaultLightColor;
}
button.iconbutton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
}
button:hover {
    @include hover();
}
button:active  {
    @include active();
}
input {
    padding: 10px;
    font-size: $TextNormal;
    border: none;
    border-radius: 10px;
    height: 30px;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-style: italic;
    }
}
select {
    margin: 4px;
    height: 40px;
    font-size: $TextNormal;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: $DefaultLightColor;
    option {
        background-color: $DefaultLightColor;
    }
}
select:hover {
    @include hover();
}
select:active  {
    @include active();
}

img {
    border-radius: 10px;
}
img.icon {
    filter: invert(6%) sepia(97%) saturate(2121%) hue-rotate(209deg) brightness(91%) contrast(106%);
}
img.profilepicture:hover {
    filter: brightness(80%) contrast(80%) saturate(50%);
}

body {
    color: $TextColor;
    margin:0px;
    padding: 0px;
    background: linear-gradient(0deg, $Color2 0%, $Color1 100%);
    background-repeat: no-repeat;
    font-size: $TextNormal;
}

.mainheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: $DefaultLightColor;
    box-shadow: 0px 2px 4px 4px #00000020;
    &__container {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 24px;
        padding: 0px;
    }
    &__btn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    header > div  {
        margin: 32px;
    }
    .HeaderNormalButton {
        width: 150px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #C0C1DB;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    &__container {
        margin: 8px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.frontpagesection  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 40px;
    width: 100%;
}

.logolargeimg {
    border-radius: 10px;
    width: auto;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    height: 40px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    &--flatbottom {
        border-radius: 10px 10px 0 0;
    }
    &__in {
        font-size: $TextNormal;
        height: 40px;
        flex: 1;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-style: italic;
        }
    }
    .iconbutton {
        border-radius: 0px;
        margin: 0px;
    }
}
.searchfilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    height: 40px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    &--flattop {
        border-radius: 0 0 10px 10px;
    }
    &__text {
        font-family: sans-serif;
    }
    &__select {
        height: 100%;
    }
}

.article {
    flex: 1;
    background: white;
    margin: 8px;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0px 2px 4px 4px $ShadowColor;
}
.article:nth-child(2) {
    order: 1;
    text-align: center;
}
.article:nth-child(1) {
    order: 2;
}
.article:nth-child(3) {
    order: 3;
}


@media (min-width: 768px) {
    .frontpagesection {
        flex-direction: row;
        &--vertical {
            align-items: center;
            flex-direction: column;
        }
    }

    .logolargeimg {
        width: 40%;
    }
    .searchbar {
        width: 50%;
    }
    .searchfilters {
        width: 50%;
    }

    .article:nth-child(2) {
        flex: 2;
        order: 2;
    }
    .article:nth-child(1) {
        order: 1;
    }
    .article:nth-child(2) {
        order: 3;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 2px 4px 4px $ShadowColor;
    background-color: $Color3;
    height: 80px;

    &__container {
        width: 50%;
        margin: 16px;
        &:first-child {
            display: flex;
            flex-direction: column;
        }
        &:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            
        }
    }
   
    &__link {
        font-family: sans-serif;
        font-weight: normal;
        margin: 8px;
    }
}


@media (min-width: 768px) {
    .footer {
        height: 60px;
        &__container {
            margin: 32px;
            &:first-child {
                flex-direction: row;
            }
        }
    }
}

.resultsection {
    margin: auto;
    margin-bottom: 50px;
    width: 96%;
    padding: 16px;
    background: white;
    box-shadow: 0px 2px 4px 4px #00000020;
    border-radius: 10px;
    
    &__container {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__element {
        display: flex;
        flex-direction: row;
        border-radius:  10px;
        margin: 16px;
        border: 1px solid black;
        overflow: hidden;
        height: 128px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
        }
        div:first {
            width: 128px;
            height: 128px;
            flex-shrink: 0;
            align-self: center;
        }
        h2 {
            margin: 4px;
            width: 100%;
        }
        p {
            margin: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
        }
        .Icon {
            border-radius: 0;
        }
     }
}



@media (min-width: 768px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 2048px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 96%;
    }
}
@media (min-width: 3000px) {
    .resultsection__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}