$TextColor: #011033;
$DefaultLightColor: #FFFFFF;
$HighLightLightColor: #D5D6F1;
$DefaultDarkColor: #000000;
$HighLightDarkColor: #011033;

$Color1: #BEC1FF;
$Color2: #7275B3;
$Color3: #C0C1DB;
$Color4: #505080;

$ShadowColor: #00000020;

$TextNormal: 16px;